<div class="container">

    <% @bookings.each do |booking| %>
      <div class=" card bookings-card">
        <h1>My bookings</h1>
        <% if booking.car.img != nil %>
          <%= image_tag booking.car.img, alt: "alttext", class: "mx-auto d-block"%>
        <% elsif booking.car.photo.attached? %>
          <%= cl_image_tag booking.car.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag 'p1.jpg', alt: "alttext", class: "mx-auto d-block"%>
        <% end %>
        <h4>You have booked a <%= booking.car.brand %> <%= booking.car.model %></h4>
        <%  %>
        <h5>From the <%= booking.start_date.strftime("#{booking.start_date.day.ordinalize} %b, %Y")%> for <%= booking.total_days%> day(s)</h5>
        <%= link_to 'View booking', booking_path(booking), class: "btn btn-primary w-25" %>
      </div>
     <% end %>

    <div class="bg-dark text-light">
      <h2>My Garage</h2>
      <% @cars.each do |car| %>
        <% car.bookings.each do |booking| %>  
          <h4><%= booking %></h4>
          <div>
            <%= link_to "Approve", approved_booking_path(booking), method: :post, class: "btn btn-success w-25" %>
            <%= link_to "Reject", "#", class: "btn btn-danger w-25" %>
          </div>
        <% end %>
      <% if car.bookings.empty? %>
        <h4>No bookings for <%= car.model %> yet...</h4>
      <% end %>
      <% end %>
    </div>
</div>
