<div class="container text-center p-3">
    <div class="car-details p-3">
        <h1><%= @car.brand %></h1>
        <h1><%= @car.model %></h1>
        <% if @car.img != nil %>
          <%= image_tag @car.img, alt: "alttext", class: "mx-auto d-block"%>
        <% elsif @car.photo.attached? %>
          <%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag 'p1.jpg', alt: "alttext", class: "mx-auto d-block"%>
        <% end %>
        <h3>Booked from the <%= @booking.start_date.strftime("#{@booking.start_date.day.ordinalize} %b, %Y")%></h3>
        <% sumtotal = @car.price_per_day * @booking.total_days %>
        <h3><%= @booking.total_days %> day(s) at £<%= @car.price_per_day %> per day </h3>
        <h1>Total: £<%= sumtotal %></h1>
    </div>

    <%= link_to "My Bookings", bookings_path, class: "btn btn-lg btn-secondary ml-5" %>
</div>
