<div class="container show my-3">
  <div class="card car-details">
    <h1><%= @car.brand %></h1>
    <h2><%= @car.model %></h2>
      <% if @car.img %>
        <%= image_tag @car.img, alt: "alttext", class: "mx-auto d-block"%>
      <% else %>
        <%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    <h4>£<%=@car.price_per_day %> per day</h4>
  </div>
</div>

<div class="container">
  <div class="bookings-card">
    <div class="booking row justify-content-center my-3">
      <div class="col-6">
      <h2>Book this car</h2>
        <div class="form booking-form">
          <%= simple_form_for([@car, @booking]) do |f| %>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :total_days %>
          <%= f.submit "Request booking", class: "btn-lg btn-block btn-outline-primary " %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
